.idea/
.shelf/
/.gradle/
/.gradle/*
/.nb-gradle/
/.nb-gradle/*
/build/*
/build/**/
.nb-*
.class
nbproject/private/
bin/
libs/
build/
.gradle
.gradletasknamecache
/publishing/publishing.properties
*.asc
*.gpg
